{
    autohide = 1;
    "expose-group-apps" = 1;
    "last-analytics-stamp" =     (
        "755236167.980808"
    );
    loc = "en_US:UA";
    "minimize-to-application" = 1;
    "mod-count" = 6;
    orientation = left;
    "persistent-apps" =     (
    );
    "persistent-others" =     (
    );
    "recent-apps" =     (
    );
    region = UA;
    "show-recents" = 0;
    showAppExposeGestureEnabled = 1;
    tilesize = 50;
    "trash-full" = 1;
    version = 1;
    "wvous-br-corner" = 1;
    "wvous-br-modifier" = 0;
}
