{
    ComputerViewSettings =     {
        CustomViewStyleVersion = 1;
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{317, 187}, {920, 436}}";
        };
    };
    CopyProgressWindowLocation = "{520, 209}";
    DataSeparatedDisplayNameCache = "";
    DesktopViewSettings =     {
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
    };
    DownloadsFolderListViewSettingsVersion = 1;
    EmptyTrashProgressWindowLocation = "{520, 209}";
    "FK_AppCentricShowSidebar" = 1;
    "FK_DefaultIconViewSettings" =     {
        arrangeBy = name;
        backgroundColorBlue = 1;
        backgroundColorGreen = 1;
        backgroundColorRed = 1;
        backgroundType = 0;
        gridOffsetX = 0;
        gridOffsetY = 0;
        gridSpacing = 54;
        iconSize = 64;
        labelOnBottom = 1;
        showIconPreview = 1;
        showItemInfo = 1;
        textSize = 12;
        viewOptionsVersion = 1;
    };
    "FK_DefaultListViewSettings" =     {
        calculateAllSizes = 0;
        columns =         (
                        {
                ascending = 1;
                identifier = name;
                visible = 1;
                width = 300;
            },
                        {
                ascending = 0;
                identifier = dateModified;
                visible = 0;
                width = 181;
            },
                        {
                ascending = 0;
                identifier = dateCreated;
                visible = 0;
                width = 181;
            },
                        {
                ascending = 0;
                identifier = size;
                visible = 1;
                width = 97;
            },
                        {
                ascending = 1;
                identifier = kind;
                visible = 1;
                width = 115;
            },
                        {
                ascending = 1;
                identifier = label;
                visible = 0;
                width = 100;
            },
                        {
                ascending = 1;
                identifier = version;
                visible = 0;
                width = 75;
            },
                        {
                ascending = 1;
                identifier = comments;
                visible = 0;
                width = 300;
            },
                        {
                ascending = 0;
                identifier = dateLastOpened;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = shareOwner;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = shareLastEditor;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = dateAdded;
                visible = 1;
                width = 181;
            }
        );
        iconSize = 16;
        showIconPreview = 1;
        sortColumn = dateAdded;
        textSize = 13;
        useRelativeDates = 1;
        viewOptionsVersion = 1;
    };
    "FK_SidebarWidth" = 154;
    "FK_StandardViewSettings" =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = "FK_StandardViewSettings";
    };
    FXArrangeGroupViewBy = Name;
    FXDefaultSearchScope = SCcf;
    FXDesktopTouchBarUpgradedToTenTwelveOne = 1;
    FXICloudDriveDesktop = 0;
    FXICloudDriveDocuments = 0;
    FXICloudDriveEnabled = 0;
    FXICloudDriveFirstSyncDownComplete = 0;
    FXICloudLoggedIn = 0;
    FXInfoPanesExpanded =     {
        Comments = 0;
        MetaData = 0;
        Name = 0;
        OpenWith = 0;
        Preview = 0;
        Privileges = 0;
    };
    "FXPreferencesWindow.Location" = "{{10, 152}, {377, 714}}";
    FXPreferredSearchViewStyleVersion = "%00%00%00%01";
    FXPreferredViewStyle = Nlsv;
    FXQuickActionsConfigUpgradeLevel = 3;
    FXRecentFolders =     (
    );
    FXRemoveOldTrashItems = 1;
    FXSidebarUpgradedToTenFourteen = 1;
    FXSidebarUpgradedToTenTen = 1;
    FXSyncExtensionToolbarItemsPendingAdd =     (
    );
    FXSyncExtensionToolbarItemsPendingRemove =     (
    );
    FXToolbarUpgradedToTenEight = 1;
    FXToolbarUpgradedToTenNine = 2;
    FXToolbarUpgradedToTenSeven = 1;
    FavoriteTagNames =     (
        "",
        Red,
        Orange,
        Yellow,
        Green,
        Blue,
        Purple,
        Gray
    );
    LastTrashState = 1;
    NSNavPanelExpandedSizeForOpenMode = "{800, 448}";
    NSOSPLastRootDirectory = {length = 580, bytes = 0x626f6f6b 44020000 00000410 30000000 ... 08010000 00000000 };
    "NSToolbar Configuration Browser" =     {
        "TB Display Mode" = 2;
        "TB Icon Size Mode" = 1;
        "TB Is Shown" = 1;
        "TB Size Mode" = 1;
    };
    "NSWindow Frame GoToSheet" = "426 395 460 180 0 0 1440 900 ";
    "NSWindow Frame NSNavPanelAutosaveName" = "333 177 800 363 0 0 1440 900 ";
    NetworkViewSettings =     {
        CustomViewStyleVersion = 1;
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{472, 194}, {899, 588}}";
        };
    };
    NewWindowTarget = PfHm;
    "PreferencesWindow.LastSelection" = SDBR;
    PreviewPaneGalleryWidth = 250;
    RecentMoveAndCopyDestinations =     (
        "file:///Users/user/Stash/",
        "file:///Users/user/.dotfiles/brew/",
        "file:///Users/user/.tmux/",
        "file:///Users/user/.dotfiles/",
        "file:///Users/user/.dotfiles/asdf/",
        "file:///Users/user/.dotfiles/git/",
        "file:///Users/user/.dotfiles/zsh/",
        "file:///Users/user/",
        "file:///Users/user/Documents/Image-Line/FL%20Studio/Presets/Plugin%20database/Effects/",
        "file:///Users/user/Documents/Image-Line/FL%20Studio/Presets/Plugin%20database/Generators/"
    );
    RecentsArrangeGroupViewBy = "Date Last Opened";
    SearchRecentsSavedViewStyleVersion = "%00%00%00%01";
    SearchRecentsViewSettings =     {
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{206, 89}, {899, 588}}";
        };
    };
    SearchViewSettings =     {
        WindowState =         {
            ContainerShowSidebar = 0;
            ShowSidebar = 0;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{260, 198}, {920, 588}}";
        };
    };
    ShowExternalHardDrivesOnDesktop = 0;
    ShowHardDrivesOnDesktop = 0;
    ShowRecentTags = 0;
    ShowRemovableMediaOnDesktop = 0;
    ShowSidebar = 1;
    SidebarDevicesSectionDisclosedState = 1;
    SidebarPlacesSectionDisclosedState = 1;
    SidebarShowingSignedIntoiCloud = 0;
    SidebarShowingiCloudDesktop = 0;
    SidebarTagsSctionDisclosedState = 1;
    SidebarWidth = 235;
    StandardViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        GalleryViewSettings =         {
            arrangeBy = name;
            iconSize = 48;
            showIconPreview = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = StandardViewSettings;
    };
    TagsCloudSerialNumber = 21;
    TrashViewSettings =     {
        CustomViewStyleVersion = 1;
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 259;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 193;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = invitationStatus;
                    visible = 0;
                    width = 210;
                }
            );
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 193;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 259;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{189, 164}, {920, 579}}";
        };
    };
}
