{
    SpacesDisplayConfiguration =     {
        "Management Data" =         {
            Age = "26756.09817316668";
            "Management Mode" = 1;
            Monitors =             (
                                {
                    "Current Space" =                     {
                        ManagedSpaceID = 1;
                        id64 = 1;
                        type = 0;
                        uuid = "";
                        wsid = 1;
                    };
                    "Display Identifier" = Main;
                    Spaces =                     (
                                                {
                            ManagedSpaceID = 1;
                            id64 = 1;
                            type = 0;
                            uuid = "";
                            wsid = 1;
                        },
                                                {
                            ManagedSpaceID = 734;
                            TileLayoutManager =                             {
                                Age = "81.54679879167816";
                                ConfigAge = "81.54444104168215";
                                "Inter-Tile Spacing" =                                 {
                                    Height = 12;
                                    Width = 12;
                                };
                                "Layout Rect" =                                 {
                                    Height = 900;
                                    Width = 1440;
                                    X = 0;
                                    Y = 0;
                                };
                                "Max Tile Config" =                                 {
                                    Height = 1;
                                    Width = 2;
                                };
                                PreferredLayout =                                 (
                                                                        {
                                        DisplaySize =                                         {
                                            Height = 900;
                                            Width = 1440;
                                        };
                                        FirstTileSize =                                         {
                                            Height = 900;
                                            Width = 1440;
                                        };
                                    }
                                );
                                ReservedArea =                                 {
                                    Bottom = 0;
                                    Left = 0;
                                    Right = 0;
                                    Top = 0;
                                };
                                TileSpaces =                                 (
                                                                        {
                                        ManagedSpaceID = 734;
                                        SizeConstraints =                                         {
                                            Max =                                             {
                                                Height = 100000;
                                                Width = 100000;
                                            };
                                            Min =                                             {
                                                Height = 375;
                                                Width = 500;
                                            };
                                            Preferred =                                             {
                                                Height = 900;
                                                Width = 1440;
                                            };
                                        };
                                        TileLimitedClipping = 1;
                                        TileRect =                                         {
                                            Height = 900;
                                            Width = 1440;
                                            X = 0;
                                            Y = 0;
                                        };
                                        TileType = Primary;
                                        TileWindowID = 24395;
                                        appName = Chromium;
                                        "com.apple.appkit.disablemcexit" = 0;
                                        fromSpace = "";
                                        "fs_wid" = 24395;
                                        id64 = 736;
                                        name = "The Real 100x Dev - YouTube";
                                        pid = 16883;
                                        type = 5;
                                        uuid = "7BACB96C-9735-4FF4-85AC-96535760A29C";
                                    }
                                );
                            };
                            WallSpace =                             {
                                ManagedSpaceID = 734;
                                id64 = 735;
                                type = 6;
                                uuid = "28C64764-CA4B-43EE-B22B-640179883CAF";
                            };
                            "fs_wid" = 24395;
                            id64 = 734;
                            pid = 16883;
                            type = 4;
                            uuid = "381DFB5A-A8DB-4FB1-A50A-98404F2B58CF";
                        }
                    );
                }
            );
            Primary =             {
                CreatedCount = 5;
                DeletedCount = 4;
                LifetimeEntryCount = 4;
                LifetimeMax = "435.6934005416697";
                LifetimeMin = "5.279403916647425";
                LifetimeSum = "794.6972804583202";
                PersistedCount = 0;
            };
            Secondary =             {
                CreatedCount = 0;
                DeletedCount = 0;
                LifetimeEntryCount = 0;
                LifetimeMax = 0;
                LifetimeMin = 0;
                LifetimeSum = 0;
                PersistedCount = 0;
            };
        };
        "Space Properties" =         (
                        {
                name = "";
                windows =                 (
                    34,
                    26141,
                    25941,
                    23359,
                    24762,
                    23245,
                    23415,
                    26131,
                    12,
                    26119
                );
            },
                        {
                name = "381DFB5A-A8DB-4FB1-A50A-98404F2B58CF";
                windows =                 (
                    34,
                    24397,
                    24396,
                    26106,
                    24395
                );
            }
        );
    };
}
